.logo {
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid white;
    padding: 0.5rem;
    color: #f9f7f5;
    text-decoration: none;
}
.main-nav__logo{
    text-decoration: none;
}
.active{
    text-decoration: none;
}